<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/homes" method="POST" method="GET">
		<label for="fname">Tweet Hastag:</label><br>
  		<input type="text" id="fname" name="fname"><br>
  		<label for="reply">Replies: </label><br>
  		<input type="text" id="reply" name="reply"><br>
  		<label for="message1">Message to user: </label><br>
  		<input type="text" id="message1" name="message1"><br>
  		<input type="submit" value="Submit">
  	</form>
</body>
</html>